html,body{
    width: 100%;
}
body{
    background: url("../img/background.jpg") repeat-y; 
}
.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
.flex{	
	display: flex;
	justify-content: space-around;
}
.center{
	display: flex;
	justify-content: center;
}
.align{
	align-items: center;	
}
.direction{
	/*align-content: space-between;*/
	display: flex;
	flex-direction: column;
}
.wrap{
	flex-wrap: wrap;
}
.top{
	height: 50px;
	/*background-color: white;*/
	/*opacity: 1;*/
	/*animation: start 5s;*/
}
.top a{
	height: 100%;
	padding:5px;
	/*font-family: "ArchyEDT-Bold", sans-serif;*/
	font-size: 20px;
	color: #3051A3;
	border-radius: 10%;
}
.log{
	margin-right: 10px;
}
.top nav a:hover, .log:hover{
	background-color: #3051A3;
	color: white;
}
.logo{
	height: 100%;
	padding: 5%;
}
.logo:hover{
	padding: 0;
}
.top nav ul{
	width: 50%;
}
.top nav ul li{
	margin-right: 30%;
}
.top nav ul li:last-child{
	display: none;
}
.lang{
	position: relative;
	display: inline-block;
	background-color: white;
	border-radius: 10%;
}
.drop-lan{
	display: none;
	position: absolute;
	background-color: white;
	border-radius: 10%;
}
.lang:hover .drop-lan{
	display: block;
}
.top .check{
	background-color: #3051A3;
	color: white;
}
.add{
	margin-top: 30px;
}
.add h1{
	color: white;
	font-weight: bold;
	font-size: 30px;
    background-color: #96B5F5;
    border-radius: 17px 17px 5px 5px;
    padding: 3px 0px;
}
h2{
	text-align: center;
	font-size: 20px;
	margin-bottom:  20px;
	color: blue;
}
.tr{
	margin-top: 150px;
}
.main{
	margin-bottom: 100px;
}
.tr-h{
	padding: 1px;
	border-radius: 2px;
	background-color: white;
}
.tour{
	padding: 5px;
	margin: 10px;
	background-color: #B2C0E7;
	border-radius: 8px;
	max-width: 250px;
	width: 100%;
}
.tour img{
	border-radius: 5px;
	width: 100%;
}	
.tour p{
	color: blue;
	font-weight: bold;
	margin-top: 10px;
}
.tour:hover{
	background-color: white;
	border: 2px solid blue;
	padding:2px;
}
.tour-t{
	padding: 5px;
	margin: 10px;
	background-color: #B2C0E7;
	border-radius: 8px;
	width: 80%;
}

.tour-t img{
	border-radius: 8px;
	width: 100%;
}
	
.tour-t .tour-info p{
	color: blue;
	font-weight: bold;
	margin-top: 10px;
	padding-left: 5px;
}
.head-p{
	margin:10px 0px;
	font-size: 20px;
	color: blue;
	font-weight: bold;
	text-align: center;
}
#reg{
	margin-top: 80px;
	padding-top: 40px;
}
#info{	
	background-color: #96B5F5;
	border-radius: 10px;
	padding: 10px;
	margin-top:400px;
}
/*#reg h2, #info h2{
	color: white;
}*/
.contact-info{
	height: 100%;
	border-radius: 10px;
	background-color: #B2C0E7;
}
iframe{
	max-width: 500px;
	width: 100%;
	height: 400px;
	border: 0;
	border-radius: 10px;
}
.tour-t span{
	color: white;
}
.tour span, {
	color: grey;
	font-weight: bold;
	margin-left: 6px;
}
.buy{
	color: white;
	background-color: blue;
	font-size: 20px;
	border:none;
	margin: 10px 6px;
	padding: 1px;
	border-radius: 4px;
	width: 15%;
}
.buy:hover{
	color: yellow;
	padding:0;
	border:1px solid white;
}
form{
	max-width: 500px;
	width: 100%;
	background-color: #6C7B98;
	border-radius: 10px;
	padding: 10px;
}
.fr{
	margin:10px 0 ;
}
label{
	color: white;

}
input[type=text],[type=password]{
	width: 48%;
	border-radius: 7px;

}
input[type=tel],[type=email]{
	width: 100%;
	border-radius: 7px;
}
input[type=submit]{
	width: 75%;
	border-radius: 7px;
	color: white;
	background-color: #96B5F5;
	border: none;
}
input[type=submit]:hover{
	background-color: blue;
}
footer{
	margin-top: 70px;
	background-color: black;
}
.bottom{
	display: flex;
	justify-content: space-between;
}
.bottom p{
	align-self: center;
	color: white;
}
.fab{

	margin: 15px;
	color: white;
}
.fab:hover{
	color: blue;
}
.ft-ul{
	display: flex;
}

/*@keyframes start{
	 from{opacity:0;}
	 to{opacity:1;}
}*/
.slide{
	padding: 5px;
	text-align: center;
	border-radius: 20px;
	width: 888px;
	height:500px;
	background: url("../img/tbilisi.jpg") center;
	animation: sl 40s infinite;
}

@keyframes sl{
	0%{background: url("../img/tbilisi.jpg") center;}
	24%{background: url("../img/tbilisi.jpg") center;}
	25%{background: url("../img/mtskheta.jpg") center;}
	49%{background: url("../img/mtskheta.jpg") center;}
	50%{background: url("../img/gergeti.jpg") center;}
	74%{background: url("../img/gergeti.jpg") center;}
	75%{background: url("../img/mestia.jpg") center;}
	100%{background: url("../img/mestia.jpg") center;}
}
@media (max-width: 1024px){

}

@media (max-width: 768px){

}
@media (max-width: 480px){
	#info{
		margin-top: 250px;
	}
}
@media (max-width: 800px){
.top nav ul li:first-child{
	display: none;

	}
}
@media (max-width: 600px){
.top nav ul li:nth-child(n){
	display: none;

	}
.top nav ul li:last-child{
	display: block;
}	
}